.main {
    width: 70%;
    padding: 0 15%;
    min-height: 100vh;
    font-family: var(--font);
  
    background-color: var(--background-color);
    color: var(--primary-text-color);

    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 2rem;
    flex: 1;
}

@media screen and (max-width: 480px) {
    .main {
        width: 90%;
        padding: 0% 5%;
    }
}