#border {
    width: 100%;
    height: 1px;
    background-color: #a6acaf;

    margin: 2rem 0;
}

#projects-header {
    width: 50%;
}

#projects-header-title {
    font-size: var(--header-title-font-size);
    font-weight: bold;
    line-height: 0.9;

    color: var(--primary-text-color);
}

#projects-header-description {
    margin-top: 1rem;
    color: var(--secondary-text-color);

    font-size: var(--header-description-font-size);
    line-height: 1.2lh;
}

#projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, max-content);

    gap: 1rem;
}

@media screen and (max-width: 480px) {
    #projects-list {
        grid-template-columns: 1fr;
    }

    #projects-header {
        width: 100%;
    }
}