#border {
    width: 100%;
    height: 1px;
    background-color: #a6acaf;

    margin: 2rem 0;
}

#resume-header {
    width: 50%;
}

#resume-header-title {
    font-size: var(--header-title-font-size);
    font-weight: bold;
    line-height: 0.9;

    color: var(--primary-text-color);
}

#resume-header-description {
    margin-top: 1rem;
    color: var(--secondary-text-color);

    font-size: var(--header-description-font-size);
    line-height: 1.2lh;
}

#resume-content {
    display: flex;
    gap: 4rem;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    margin-left: 5%;
}

#profile-image {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: bottom;
    border-radius: 50%;
}

#name {
    color: var(--primary-text-color);
}

#position {
    color: var(--secondary-text-color);
}

#resume-sections {
    flex: 1;
}

@media screen and (max-width: 480px) {
    #resume-content {
        flex-direction: column;
        gap: 2rem;
    }

    #details {
        margin-left: 0%;
    }

    #resume-header {
        width: 100%;
    }
}