#resume-header {
    width: 50%;
}

#resume-header-title {
    font-size: 60pt;
    font-weight: bold;
    line-height: 0.9;

    color: var(--primary-text-color);
}

#resume-header-description {
    margin-top: 1rem;
    color: var(--secondary-text-color);
}