#resume-header {
    width: 50%;
}

#resume-header-title {
    font-size: 60pt;
    font-weight: bold;
    line-height: 0.9;

    color: var(--primary-text-color);
}

#resume-header-description {
    margin-top: 1rem;
    color: var(--secondary-text-color);

    font-size: 14pt;
    line-height: 1.2lh;
}


@media screen and (max-width: 480px) {
    #resume-header {
        width: 100%;
    }

    #resume-header-title {
        font-size: 30pt;
    }
    
    #resume-header-description {
        font-size: 12pt;
    }
}