#navbar {
    margin-top: 2rem;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

#name-initials {
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 1pt;
}

#options {
    display: flex;
    align-items: center;

    user-select: none;
    gap: 1.5rem;
}



#options > *:hover {
    cursor: pointer;
}

#toggle {
    font-size: 20pt;
    font-weight: bold;
}

.option-link {
    position: relative;
}

.option-link:hover::after {
    content: "";
    width: 100%;
    height: 2px;

    position: absolute;
    bottom: -2px;
    left: 0;

    background-color: var(--primary-text-color);

    animation: dynamic-width 0.5s;
}

@keyframes dynamic-width {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#side-menu {
    position: fixed;
    top: 0;
    right: 0;

    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: dynamic-width 0.5s;
}

#side-menu-toggle {
    display: none;
}

#side-menu-close {
    position: absolute;
    top: 2rem;
    right: 2rem;

    font-size: 16pt;
}

#side-menu-close:hover {
    cursor: pointer;
}

.side-option-link {
    color: var(--primary-text-color);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 16pt;
}

@media screen and (max-width: 480px) {
    #side-menu-toggle {
        display: block;
    }

    .option-link {
        display: none;
    }
}