.personal-project:not(:last-child) {
    margin-bottom: 1rem;
}

.personal-project-details {
    color: var(--secondary-text-color);
}

.personal-project-details strong {
    color: var(--primary-text-color);
}

.personal-project-name {
    margin-bottom: 0.2rem;
    font-size: 15pt;
}

.personal-project-description {
    margin-top: 1rem;
}

.personal-project-description ul {
    padding-left: var(--list-padding);
    color: var(--secondary-text-color);
}

.personal-project-description strong {
    color: var(--primary-text-color);
}

.personal-project-description li:not(:last-child) {
    margin-bottom: 0.5rem;
}