@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font: "Roboto";
  --background-color: #17202a;

  --primary-text-color: #fdfefe;
  --secondary-text-color: #b2babb;
}

[data-theme="light"], [data-theme="light"] * {
  --background-color: #fdfefe;

  --primary-text-color: #17202a;
  --secondary-text-color: #6b7280;
}

* {
  margin: 0;
  padding: 0;
}



.demo {
  color: var(--secondary-text-color);
}